@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colores base
$white--100: #FFFFFF;
$white--200: #F8F8F8;

// Neutrales (Grises)
$gray--100: #EAEAEA;
$gray--200: #E6E6E6;
$gray--300: #D9D9D9;
$gray--400: #A3A9C2;
$gray--500: #808080;
$gray--600: #667085;
$gray--700: #666666;
$gray--800: #333333;
$gray--900: #EAE5E5;
$gray--1000: #F5F5F5;
$gray--1100: #F7F8FA;
$gray--1200: #FDFDFD;
$gray--1300: #D1D2E3;
$gray--1400: #E5E5E5;
$gray--1500: #999999;

// Negros
$black--100: #000000;
$black--200: #1A1A1A;

// Azules
$blue--100: #EDF0F8;
$blue--200: #4487FF;
$blue--300: #3957BF;
$blue--400: #2F2056;
$blue--500: #3A4980;
$blue--600: #00225C;
$blue--700: #1E478C;
$blue--800: #E8F6FE;

// Amarillos
$yellow--100: #F7CB68;

// Verdes
$green--100: #2C742F;

// Morados
$purple--100: #D58DCC;
$purple--200: #140931;

// Sombras
$blue-shadow--100: #1C9FFE29;
$green-shadow--200: #20B52633;
$black-shadow--100: #0103044A;
$black-shadow--200: #0000001A;

// Tipografía
$font-primary: 'Poppins', sans-serif;
