.btn-none {
  background-color: transparent;
  border: none;
}

.btn-none:focus, .btn-none:hover {
  outline: none;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 40px;
  border-radius: 50px;
  padding: 10px;
  background-color: #FFFFFF;
  color: #667085;
  border: 1px solid #EAE5E5;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.loading img {
  margin-right: 5px;
}

.loading:hover, .loading:focus {
  background-color: #EAE5E5;
  color: #FFFFFF;
}

.button-primary {
  width: 214px;
  height: 50px;
  border-radius: 43px;
  background-color: #4487FF;
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #FFFFFF;
  border: 1px solid #4487FF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-primary:hover, .button-primary:focus {
  background-color: #3957BF;
  border: 1px solid #3957BF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FDFDFD;
}

p {
  margin-bottom: 0;
}

.section-grey {
  background-color: #F5F5F5;
}

.section-grey-v2 {
  background-color: #F7F8FA;
}

@media (min-width: 992px) {
  .section-container {
    max-width: 1215px;
  }
}

@media (max-width: 576px) {
  .section-container {
    max-width: 400px;
  }
}

.row__width {
  width: 100%;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .link, .navbar .link-v2, .navbar .dropdown-item {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.navbar .link-v2 {
  font-size: 15px;
}

.navbar .dropdown-toggle {
  margin: 0 5px;
}

.navbar .input-search {
  width: 400px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #E6E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .input-search input {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #808080;
  width: 85% !important;
}

.navbar .input-search button {
  margin-right: 10px;
}

@media (min-width: 992px) {
  .navbar .navbar-container {
    max-width: 1215px;
  }
}

@media (max-width: 576px) {
  .navbar .navbar-container {
    max-width: 400px;
  }
}

.navbar .search-mobile {
  height: 20px;
}

.navbar .navbar-top {
  background-color: #FFFFFF;
  height: 90px;
}

.navbar .navbar-bottom {
  background-color: #F7F8FA;
  min-height: 53px;
}

.navbar-expand-lg {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home {
  padding: 30px 0 15px 0;
}

.home .section-title {
  background-color: #E8F6FE;
  height: 676px;
  width: 100%;
  max-width: 1378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  position: relative;
  padding: 50px 80px 0 80px;
}

.home .section-title .deco-1 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 149px;
  display: block;
  background-image: url("../images/home-icons/deco-1.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home .section-title .deco-2 {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 178px;
  display: block;
  background-image: url("../images/home-icons/deco-2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home .section-title .logo-banner {
  position: absolute;
  width: 475px;
  top: 58px;
  right: 25px;
}

.home .section-title .divider {
  width: 100%;
  max-width: 878px;
  height: 1px;
  background-color: #D1D2E3;
  margin-bottom: 50px;
}

.home .section-title .welcome, .home .section-title .welcome-stong {
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #4487FF;
  margin-bottom: 10px;
}

.home .section-title .welcome-stong {
  font-weight: 700;
}

.home .section-title .banner-title, .home .section-title .banner-description {
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #000000;
}

.home .section-title .banner-description {
  font-weight: 400;
}

.home .section-title .trust-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.home .section-title .text {
  z-index: 1;
}

.home .section-title .text .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.home .benefits-container {
  margin: 60px 0;
  max-width: 1240px;
  height: 200px;
}

.home .benefits-container .item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.home .benefits-container .item-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
}

.home .about-section .img-fluid {
  height: 477px;
}

.home .about-section .title-section {
  font-weight: 600;
  font-size: 40px;
  color: #1A1A1A;
  margin-bottom: 10px;
}

.home .about-section .description-section {
  font-weight: 400;
  font-size: 18px;
  color: #808080;
  margin-bottom: 10px;
}

.home .about-section .item-section {
  font-weight: 500;
  font-size: 16px;
  color: #1A1A1A;
  margin-bottom: 10px;
}

.home .about-section .item-description-section {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}

.home .about-section ul {
  list-style: none;
  padding: 0;
}

.home .about-section ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;
}

.home .about-section ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  background-image: url("../images/home-icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.home .title-section-v2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}

.home .title-section-v3 {
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: #000000;
}

.home .description-section {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}

footer {
  background-color: #00225C;
}

footer .footer-container {
  max-width: 1240px;
  margin: 0 auto;
}

footer .footer-logo {
  height: 50px;
  margin: 40px 0;
}

footer .title {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

footer .links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .links-list li {
  margin-bottom: 15px;
}

footer .link {
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

footer .link:hover {
  color: #4487FF;
  text-decoration: underline;
}

footer .certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

footer .certificates .certificate-img {
  height: 70px;
}

footer .certificates .certificate-img-1 {
  height: 53px;
}

footer .copy, footer .copy-stong {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}

footer .copy-stong {
  font-weight: 700;
}

footer .divider {
  width: 100%;
  height: 1px;
  background-color: #1E478C;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .padding-copy {
  padding: 50px 0 70px 0;
}

.products-section {
  margin: 40px 0;
}

.products-section h2 {
  text-align: left;
}

.products-section .nav-tabs {
  border-bottom: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-section .nav-tabs .nav-item {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-section .nav-tabs .nav-link {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #808080;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 28px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products-section .nav-tabs .nav-link.active {
  height: 41px;
  font-weight: 500;
  font-size: 14px;
  color: #4487FF;
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1C9FFE29;
  padding: 8px 16px;
}

.products-section .products-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .products-section .products-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .products-section .products-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .products-section .products-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.products-section .products {
  background-color: #FFFFFF;
  border-radius: 8px;
  height: 318px;
  max-width: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  position: relative;
  background-color: #F7F8FA;
  border: 2px solid #E6E6E6;
}

.products-section .products img {
  height: 100%;
  width: 100%;
}

.products-section .products .product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0103044A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 20px;
  opacity: 0;
}

.products-section .products .product-overlay .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.products-section .products .product-overlay .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #D9D9D9;
}

.products-section .products .product-overlay a {
  margin-top: 15px;
}

.products-section .products:hover .product-overlay, .products-section .products:focus .product-overlay, .products-section .products .active .product-overlay {
  opacity: 1;
  border: 2px solid #4487FF;
}

.contact-section {
  height: 657px;
}

.contact-section .contact-description {
  font-weight: 400;
  font-size: 15px;
  color: #333333;
  margin-top: 20px;
  text-align: center;
}

.contact-section .contact-description[href] {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contact-section .contact-description[href]:hover {
  color: #4487FF;
  text-decoration: underline;
}

.contact-section .margin {
  margin: 45px 0;
}

.contact-section .contact-link, .contact-section a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contact-section .contact-link:hover, .contact-section a:hover {
  color: #4487FF;
  text-decoration: underline;
}

.contact-section input, .contact-section textarea {
  width: 100%;
  height: 49px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1A1A1A;
  padding-left: 15px;
}

.contact-section input::-webkit-input-placeholder, .contact-section textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.contact-section input:-ms-input-placeholder, .contact-section textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.contact-section input::-ms-input-placeholder, .contact-section textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.contact-section input::placeholder, .contact-section textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.contact-section input:focus, .contact-section input:hover, .contact-section textarea:focus, .contact-section textarea:hover {
  border: 2px solid #4487FF;
  outline: none;
}

.contact-section textarea {
  height: 98px;
  padding-top: 15px;
}
/*# sourceMappingURL=main.css.map */